.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12rem;

  @media (max-width: 53.125em) {
    padding-bottom: 4rem;
  }

  @media (max-width: 26.875em) {
    padding-bottom: 3rem;
  }

  &__wrapper {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
  }

  &__info-text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    opacity: 50%;

    padding-left: 2.1rem;
    margin-bottom: 1rem;

    @media (max-width: 34.375em) {
      padding-left: 1.4rem;
    }

    @media (max-width: 31.25em) {
      padding-left: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 1.4rem;
    }

    & input {
      font-size: 1.8rem;
      line-height: 2.5rem;
      padding: 1.2rem 2.1rem;
      padding-right: 30rem;
      border: 1px solid #c4c4c4;
      border-radius: 1rem;
      font-family: inherit;
      background-color: #f0f2f6;
      color: $color_text;

      &::placeholder {
        color: $color_text;
        transition: all 0.2s ease-in;
      }

      &:focus::placeholder {
        color: rgba($color_text, 0.5);
      }

      &.error-border {
        border: 1px solid #ee0029;
      }

      @media (max-width: 34.375em) {
        padding: 0.8rem 1.2rem;
        padding-right: 29rem;
      }

      @media (max-width: 30em) {
        padding-right: 1.2rem;
      }
    }

    & label {
      font-size: 1.4rem;
      line-height: 1.6rem;
      opacity: 50%;

      padding-left: 2.3rem;
      margin-top: 0.7rem;

      @media (max-width: 34.375em) {
        padding-left: 1.4rem;
      }

      @media (max-width: 31.25em) {
        padding-left: 1.4rem;
      }

      @media (max-width: 30em) {
        margin-top: 2px;
      }
    }
  }

  &__disclaimer {
    margin: 2.9rem 33.1rem 3.9rem 36.5rem;
    width: 100%;
    max-width: 58.4rem;

    font-size: 1.2rem;
    line-height: 1.6rem;

    & a {
      text-decoration: underline;
    }

    @media (max-width: 43.75em) {
      margin: 2.9rem auto 3.9rem;
    }

    @media (max-width: 26.875em) {
      margin: 2rem auto 3rem;
    }
  }

  &__btn {
    color: #fff;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    background-color: #ee0029;
    padding: 1.2rem 1rem;
    width: 22rem;
    border: none;
    border-radius: 2.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-family: inherit;

    &:disabled {
      cursor: default;
      background-color: #f7f8fb;
      color: #808080;
      font-weight: 500;
      font-family: inherit;
    }

    body.desktop &:not(:disabled):hover {
      background-color: #be112d;
    }
  }
}
