.prefooter {
  text-align: center;
  padding-bottom: 2rem;

  &__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: #ee0029;

    @media (max-width: 22.5em) {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &--nowrap {
      white-space: nowrap;
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: 600;
      color: #ee0029;

      @media (max-width: 22.5em) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
}
